version: '2'

services:
    turtle_controller:
        build:
            context: ../
            dockerfile: eg2/Dockerfile
    turtle:
        image: osrf/ros:foxy-desktop
        environment: 
            - DISPLAY
        volumes: 
            - /tmp/.X11-unix:/tmp/.X11-unix:rw
        command: ros2 run turtlesim turtlesim_node
        depends_on:
            - turtle_controller